<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>PAGE NO FOUND</h1>
    <p>la page du potin n° <%= id %> n'existe pas</p>

    <p><a href="/">Lien</a> pour revenir à la page des potins</p>
  </body>
</html>